{%extends 'base.html'%}

{% block content %}
<div>
    {% for item in categories %}
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#{{item.id}}" role="tab" aria-controls="v-pills-home" aria-selected="true">{{item.category_name}}</a>

  </div>
  {% for blog in item.blog %}

  <div style="background-image: url('https://d2lkscqcn5u8kf.cloudfront.net/img/_pageHeader/705x460-data-blogroll.png');">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="{{item.id}}" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{blog.blog_title}}</h5>
              <p class="card-text">{{blog.blog_content}}</p>
              <a href="upvote/{{pitch.id}}" class="card-link">Upvote</a>
              <a href="downvote/{{pitch.id}}" class="card-link">Downvote</a>
              <a href="/pitch/comment/new/{{pitch.id}}" class="card-link">Comment</a>
              {% for votes in pitch.vote %}
              <p>Likes {{votes.upvote}}</p>
              <p>Dislikes {{votes.downvote}}</p>
              {%endfor%}

              {% for comments in pitch.comment %}
              <p>Comments {{comments.comment}}</p>
             
              {%endfor%}
            </div>
          </div>
    </div>
  </div>
{% endfor%}
{% endfor%}
  </div>
{% endblock %}